{% extends 'bookings/base.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<h2>Movies</h2>
<ul class="list-group">
    {% for movie in movies %}
        <li class="list-group-item">
            <div class="row">
                <div class="d-flex">
                    <img src="{{movie.image.url}}" class="img-thumbnail w-25 align-self-center border-0">
                    <div class="align-items-center">
                        <h3>{{ movie.title }}</h5>
                        <p>{{ movie.description }}</p>
                        <p>Rated {{ movie.rating }}, {{ movie.duration }} minutes</p>
                        <h4>Buy seats for upcoming showings:</h4>
                        {% for time in show_times %}
                            <a href="{% url 'book' movie.id time %}" class="btn btn-primary">{{time}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}