{% extends 'bookings/base.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<h2>Movies</h2>
<ul class="list-group">
    {% for movie in movies %}
        <li class="list-group-item">
            <div class="row">
                <div class="d-flex">
                    <img src="{{movie.image.url}}" class="img-thumbnail w-25 align-self-center border-0">
                    <div class="align-items-center">
                        <h3>{{ movie.title }}</h5>
                        <p>{{ movie.description }}</p>
                        <p>Rating: {{movie.rating}}</p>
                        <p>Run time: {{ movie.duration }} minutes</p>
                        <a href="{% url 'book' movie.id %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}