{% extends "base.html" %}
{% block content %}
{% if not seats %}
<p>Sorry - this showing is sold out!</p>
{% else %}
<h2>Finalize your booking</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Movie</td>
            <td>{{movie.title}}</td>
        </tr>
        <tr>
            <td>Showing</td>
            <td>{{date}} at {{time}}</td>
        </tr>
    </tbody>
</table>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  
  <h3 for="seat">Select Seat:</h3>
  <select name="seat_id" id="seat" required>
    {% for seat in seats %}
      <option value="{{ seat.id }}">Seat {{ seat.seat_number }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name='date' value="{{date}}">
  <input type="hidden" name='time' value="{{time}}">

  <button type="submit" class="btn btn-primary btn-sm float-end">Confirm Booking</button>
</form>
{% endif %}

{% endblock %}